<div class="u-padding-Axl">
  <img class="logo-small"
       src="assets/LogoSmall@2x.png">
  <p class="info__para">
    This app takes your score from the <strong>AUDIT(c) questionnaire</strong> and calculates your risk of developing different illnesses in relation to your alcohol consumption.
  </p>
  <p class="info__para">
    Once the app has calculated your score, it will then go on to show how alcohol may be harming your body. Even with very low levels of alcohol you could be at risk of developing certain illnesses.
  </p>
  <p class="info__para">
    If you are concerned about any of these conditions, or would like more help and information about reducing or abstaining from alcohol, please contact your local alcohol advice service.
  </p>
  <p class="info__para">
    <strong>Please note</strong> the app will show risks of illnesses even if you scored zero. Also if you have stopped drinking your level of risk/the illnesses you may have could be greater than that shown by your current AUDIT score. To see the contrast try completing an AUDIT questionnaire for the time when your drinking was at its worst, or using a score from that time.
  </p>
  <a class="long-link u-margin-Txxl"
     href="/#/">Start</a>
</div>


