  <div class="u-padding-Al">
    <header>
      <nav >
        <a href="#/home"
           >
          <img class="header header--sub header--nav"
               src="assets/StartAgainPageX@2x.png">
        </a>
      </nav>
      <h1 class="header">You scored {{score}} on your AUDIT questions</h1>
      <p class="header header--sub">
        Which means you’re at <strong>risk</strong> of developing the following conditions:
      </p>
    </header>
    
    <!-- ng-controller="PageController" -->
    <main>
      <div class="human">
        <img src="assets/Body@2x.png"
             class="img">
        <button ng-repeat="condition in conditions"
                ng-click="$parent.activeCondition = $index"
                class="bang {{'bang--' + $index}}"
                ng-class="{'is-active': $parent.activeCondition === $index}">
          ( ! )
        </button>
      </div>
      
      <div ng-if="activeCondition >= 0">
        <div class="info">
          <div class="info__head">
            <h2 class="info__head__text">{{ conditions[activeCondition].name }}</h2>
          </div>
          <img ng-src="{{ conditions[activeCondition].icon }}"
               class="info__icon">
          <p class="info__para u-no-clear">{{ conditions[activeCondition].para1 }}</p>
          <p class="info__para u-no-clear">{{ conditions[activeCondition].para2 }}</p>
        </div>
      </div>
      <div ng-if="activeCondition === -1"
           class="info-placeholder">
        <strong>Click on the ! to see the different conditions
your drinking habits are putting you at risk of
developing.</strong>
      </div>
    </main>
    
    <footer class="footer">
      <span class="footer--logo">Drink <br></span>
      <span class="footer--logo">informed</span>
      <p class="footer--logo-sub">Alcohol harm risk</p>
    </footer>
  </div>