<div class="u-padding-Axl">
  <img class="logo-small"
       src="assets/LogoSmall@2x.png">
  <nav>
    <a class="long-link long-link__small u-float-right"
       href="#/details">App details</a>
    <a class="long-link long-link__small u-float-right u-clear-right"
       href="#/home">Start again</a>
  </nav>
  <p class="info__para">
    You should have already completed your <strong>AUDIT(c) questionnaire</strong> on paper and have your score ready,<br>
    if not please ask one of the nurses to help you.
  </p>
  <p class="info__para">
    When you’re ready, <strong>click on</strong> the button that corresponds with your score:
  </p>
  <a href="#/page/0">
    <img class="page-link"
         src="assets/Page1Link@2x.png">
  </a>
  <a href="#/page/1">
    <img class="page-link"
         src="assets/Page2Link@2x.png">
  </a>
  <a href="#/page/2">
    <img class="page-link"
         src="assets/Page3Link@2x.png">
  </a>
  <a href="#/page/3">
    <img class="page-link"
         src="assets/Page4Link@2x.png">
  </a>
</div>