/*-------------------------
Simple reset
--------------------------*/
* {
  margin:0;
  padding:0;
  font-family: 'Open Sans', sans-serif;
}

/*-------------------------
Utils
--------------------------*/
.u-padding-Axxl {
  padding: 72px 210px;
}

.u-padding-Axl {
  padding: 45px 45px;
}

.u-padding-Al {
  padding: 36px 36px;
}

.u-margin-Txxl {
  margin-top: 70px;
}

.u-float-right {
  float: right; 
}
/*-------------------------
Header
--------------------------*/
.header {
  color: white;
  background-color: #4090cb;
  width: 600px;
  font-size: 27px;
  font-weight: 700;
  padding: 0.15em 0.5em
}

.header--sub {
  width: 496px;
  font-size: 16px;
  font-weight: 400;
  padding: 0.3em 0.9em;
}

.header--nav {
  float: right;
  width: 115px;
  text-decoration: none;
  padding: 0;
}

/*-------------------------
InfoPane
--------------------------*/
.info {
  margin-top: 42px;
  margin-left: 35px;
  width: 417px;
  height: 458px;
  border: 2px solid #ef8e3b;
  padding: 5px 10px;
  box-sizing: border-box;
  float: left;
}

.info__head {
  margin-top: -24px;
  margin-left: -22px;
}

.info__head__text {
  font-size: 16px;
  color: white;
  font-weight: 200;
  background-color: #ef8e3b;
  padding: 0.4em 1.5em;
  display: inline-block;
  positiom: relative;
}

.info__para {
  margin-top: 16px;
  clear: both;
  line-height: 138%;
}

.info__para.u-no-clear {
  clear: none;
}

.info__icon {
  width: 175px;
  float: right;
  padding-left: 15px;
  padding-bottom: 17px;
  padding-right: 5px;
  margin-top: -5px;
}

.info-placeholder {
  margin-top: 42px;
  margin-left: 35px;
  width: 417px;
  padding: 5px 10px;
  float: left;
}

/*-------------------------
Footer
--------------------------*/
.footer {
  color: white;
  float: right;
  text-transform: uppercase;
  padding-top: 432px;
}

.footer--logo {
  background-color: #4090cb;
  font-size: 20px;
  width: 122px;
  padding: 0em 0.3em;
  line-height: 100%;
}

.footer--logo-sub {
  background-color: #ef8e3b;
  font-size: 9px;
  width: 93px;
  margin-top: 8px;
  padding: 0.3em 0.6em; 
}

/*-------------------------
Index
--------------------------*/
.logo-big {
  width: 639px;
  height: 400px;
  margin-bottom: 30px;
}

.long-link {
  font-size: 27px;
  font-weight: 700;
  color: white;
  text-decoration: none;
  width: 225px;
  display: inline-block;
  padding: 0.2em 0.6em; 
  background: linear-gradient(to right, #3990ce 0%,#398ecf 32%,#3a85d3 55%,#3c72dc 78%,#4053eb 100%);
}

.long-link__second {
  margin-left: 83px;
}

/*-------------------------
Start
--------------------------*/
.logo-small {
  width: 178px;
  height: 111px;
  margin-bottom: 30px;
  float: left;
}

.page-link {
  width: 180px;
  height: 190px;
  padding-top: 30px;
  padding-right: 30px;
}

/*-------------------------
Background
--------------------------*/
html {
  width: 1024px;
  height: 768px;
}

/*-------------------------
Human
--------------------------*/
.human {
  float: left;
  margin-top: 8px;
  margin-left: 37px;
  position: relative;
}

.img {
  width: 275px;
}

.bang {
  background: url(bang@2x.png) no-repeat;
  background-size: 30px 30px;
  background-position: center; 
  color: rgba(0, 0, 0, 0);
  width: 32px;
  height: 32px;
  margin-top: 4px;
  margin-left: 4px;
  border: 0;
  position: absolute;
  cursor: pointer;
}

.bang.is-active {
  background: url(bang-orange@2x.png) no-repeat;
  background-size: 30px 30px;
  background-position: center; 
}

.bang--0 {
  top: 10px;
  left: 105px;
}

.bang--1 {
  top: 75px;
  left: 160px;
}

.bang--2 {
  top: 446px;
  left: 116px;
}

.bang--3 {
  top: 214px;
  left: 134px;
}

.bang--4 {
  top: 288px;
  left: 59px;
}

.bang--5 {
  top: 209px;
  left: 73px;
}

.bang--6 {
  top: 319px;
  left: 96px;
}

.bang--7 {
  top: 50px;
  left: 93px;
}

.bang--8 {
  top: 22px;
  left: 73px;
}

.bang--9 {
  top: 179px;
  left: 134px;
}

.bang--10 {
  top: 266px;
  left: 88px;
}

.bang--11 {
  top: 193px;
  left: 162px;
}

.bang--12 {
  top: 12px;
  left: 139px;
}

.bang--13 {
  top: 250px;
  left: 119px;
}

.bang--14 {
  top: 357px;
  left: 115px;
}

.bang--15 {
  top: 43px;
  left: 130px;
}

.bang--16 {
  top: 275px;
  left: 139px;
}
