/*-------------------------
Simple reset
--------------------------*/
* {
  margin:0;
  padding:0;
  font-family: sans-serif;
  opacity: 1;
}

/*-------------------------
Header
--------------------------*/
.header {
  color: white;
  background-color: #4090cb;
  width: 500px;
  font-size: 40px;
  font-weight: 200;
  padding: 0.1em 0.2em
}

.header--sub {
  width: 410px;
  font-size: 28px;
}

.header--nav {
  float: right;
  width: 190px;
  text-decoration: none;
}

/*-------------------------
InfoPane
--------------------------*/
.info {
  margin-top: 32px;
  margin-left: 130px;
  width: 530px;
  height: 370px;
  border: 2px solid #ef8e3b;
  border-radius: 30px;
  padding: 20px;
  box-sizing: border-box;
  float: right;
}

.info__head {
  color: white;
  font-weight: 200;
  background-color: #ef8e3b;
  padding: 0.2em 1em;
  margin-left: -40px;
}

.info__para {
  margin-top: 30px;
  font-size: 20px;
/*  float: left;*/
}

.info__icon {
  width: 164px;
  float: right;
  margin: 30px 0 20px 0;
}

/*-------------------------
Human
--------------------------*/
.human {
  float: left;
  margin-top: 32px;
  margin-left: 10px;
  position: relative;
}

.img {
  width: 272px;
  height: 533px;
}

.bang {
  background: url(bang@2x.png) no-repeat;
  background-size: 30px 30px;
  background-position: center; 
  color: rgba(0, 0, 0, 0);
  width: 40px;
  height: 40px;
  border: 0;
  position: absolute;
  cursor: pointer;
}

.bang.is-active {
  background: url(bang-orange@2x.png) no-repeat;
  background-size: 30px 30px;
  background-position: center; 
}

.bang--0 {
  top: 10px;
  left: 95px;
}

.bang--1 {
  top: 65px;
  left: 150px;
}

.bang--2 {
  top: 435px;
  left: 103px;
}

.bang--3 {
  top: 200px;
  left: 118px;
}

.bang--4 {
  top: 270px;
  left: 48px;
}

.bang--5 {
  top: 195px;
  left: 63px;
}

.bang--6 {
  top: 305px;
  left: 80px;
}

.bang--7 {
  top: 40px;
  left: 80px;
}

.bang--8 {
  top: 12px;
  left: 63px;
}

.bang--9 {
  top: 165px;
  left: 118px;
}

.bang--10 {
  top: 252px;
  left: 78px;
}

.bang--11 {
  top: 180px;
  left: 147px;
}

.bang--12 {
  top: 0px;
  left: 126px;
}

.bang--13 {
  top: 238px;
  left: 107px;
}

.bang--14 {
  top: 345px;
  left: 101px;
}

.bang--15 {
  top: 33px;
  left: 117px;
}

.bang--16 {
  top: 262px;
  left: 128px;
}

/*-------------------------
Footer
--------------------------*/
.footer {
  color: white;
  float: right;
  text-transform: uppercase;
  padding-top: 50px;
}

.footer--logo{
  background-color: #4090cb;
  font-size: 23px;
  width: 122px;
  padding: 0.1em 0.2em;
}

.footer--logo-sub{
  background-color: #ef8e3b;
  font-size: 10px;
  width: 110px;
  margin-top: 14px;
  padding: 0.3em 0.6em;
}

/*-------------------------
Utils
--------------------------*/
.u-padding-Al {
  padding: 35px 40px;
}

/*-------------------------
Background images
--------------------------*/
html {
    width: 1024px;
    height: 768px;
}

.welcomeBG { 
/*    background: url(index.jpg) no-repeat;*/
    background-size: 1024px 768px;
}
.page1 { 
    background: url(1setLimits.jpg) no-repeat; 
}
/*----------------------------
seethru links
-----------------------------*/
a.welcome, a.goHome {
    position: absolute;
    display: block;
    background: none;
    border: 1px solid black;
    opacity: 0.0;
}
.welcome {
    top: 596px;
    left: 820px;
    width: 110px;
    height: 110px;
}
.goHome {
    left: 935px;
    width: 46px;
    top: 20px;
    height: 40px;
    opacity: 0.2;
}